In [127]:
import numpy as np
import pandas as pd
import random

f=pd.read_csv("/home/mt/learn/NGSIM数据处理/csv/80/4:00-4:15/RL_label.csv")
f=f[['Vehicle_ID','Frame_ID','Local_X','Local_Y','Preceding','Following','Lane_ID','label']]
f

,Vehicle_ID,Frame_ID,Local_X,Local_Y,Preceding,Following,Lane_ID,label
0,13,937,41.776,1452.031,15,41,4,2
1,13,938,41.772,1454.013,15,41,4,2
2,13,939,41.766,1456.007,15,41,4,2
3,13,940,41.761,1458.059,15,41,4,2
4,13,941,41.726,1460.187,15,41,4,2
5,13,942,41.802,1462.349,15,41,4,2
6,13,943,41.900,1464.476,15,41,4,2
7,13,944,42.082,1466.567,15,41,4,2
8,13,945,42.172,1468.691,15,41,4,2
9,13,946,42.227,1470.900,15,41,4,2
10,13,947,42.274,1473.158,15,41,4,2
11,13,948,42.399,1475.385,15,41,4,2
12,13,949,42.594,1477.530,15,41,4,2
13,13,950,42.887,1479.583,15,41,4,2
14,13,951,43.247,1481.548,15,41,4,2
15,13,952,43.675,1483.402,15,41,4,2
16,13,953,44.040,1485.132,15,41,4,2
17,13,954,44.320,1486.772,15,41,4,2
18,13,955,44.525,1488.377,15,41,4,2
19,13,956,44.677,1489.989,15,41,4,2
20,13,957,44.846,1491.619,15,41,4,2
21,13,958,45.016,1493.250,15,41,4,2
22,13,959,45.186,1494.879,15,41,4,2
23,13,960,45.355,1496.508,15,41,4,2
24,13,961,45.525,1498.137,15,41,4,2
25,13,962,45.695,1499.766,15,41,4,2
26,13,963,45.865,1501.396,15,41,4,2
27,13,964,46.034,1503.025,15,41,4,2
28,13,965,46.203,1504.654,15,41,4,2
29,13,966,46.373,1506.283,15,41,4,2
...,...,...,...,...,...,...,...,...
18130,2908,7900,53.241,449.523,2881,2899,5,1
18131,2908,7901,53.183,451.514,2881,2899,5,1
18132,2908,7902,53.473,453.481,2881,2899,5,1
18133,2908,7903,53.420,455.434,2881,2899,5,1
18134,2908,7904,53.307,457.383,2881,2899,5,1
18135,2908,7905,53.158,459.332,2881,2899,5,1
18136,2908,7906,53.004,461.282,2881,2899,5,1
18137,2908,7907,52.850,463.232,2881,2899,5,1
18138,2908,7908,52.696,465.181,2881,2899,5,1
18139,2908,7909,52.541,467.139,2881,2899,5,1
18140,2908,7910,52.387,469.061,2881,2899,5,1
18141,2908,7911,52.228,471.041,2881,2899,5,1
18142,2908,7912,52.091,472.999,2881,2899,5,1
18143,2908,7913,51.917,474.941,2881,2899,5,1
18144,2908,7914,51.719,476.742,2881,2899,5,1
18145,2908,7915,51.518,478.553,2881,2899,5,1
18146,2908,7916,51.317,480.392,2881,2899,5,1
18147,2908,7917,51.116,482.242,2881,2899,5,1
18148,2908,7918,50.915,484.091,2881,2899,5,1
18149,2908,7919,50.714,485.945,2881,2899,5,1
18150,2908,7920,50.513,487.782,2881,2899,5,1
18151,2908,7921,50.303,489.646,2881,2899,5,1
18152,2908,7922,50.139,491.504,2881,2899,5,1
18153,2908,7923,49.896,493.332,2881,2899,5,1
18154,2908,7924,49.608,495.140,2881,2899,5,1
18155,2908,7925,49.308,496.941,2881,2899,5,1
18156,2908,7926,49.007,498.740,2881,2899,5,1
18157,2908,7927,48.706,500.540,2881,2899,5,1
18158,2908,7928,48.405,502.341,2881,2899,5,1
18159,2908,7929,48.104,504.125,2881,2899,5,1

In [128]:
def repeat(re_list):
    a=[]
    for i in re_list:
        if i not in a:
            a.append(i)
    return a

In [129]:
data_num=int(len(f)/40)
data_num

454

In [130]:
f_list=f.values
f_list=np.reshape(f_list,[-1,40,8])
np.shape(f_list)
f_list[0][39,4]

15.0

In [132]:
zero_list=[]
for i in range(len(f_list)):
    for a in range(40):
        if f_list[i][a,4]==0 or f_list[i][a,4]==0 or f_list[i][0,4]!=f_list[i][39,4] or f_list[i][0,5]!=f_list[i][39,5]:
            zero_list.append(i)
zero_list=repeat(re_list=zero_list) 
len(zero_list)

116

In [133]:
f_list=np.delete(f_list,zero_list, axis=0)
len(f_list)

338

In [134]:
f_list=f_list.reshape([-1,8])
f_new=pd.DataFrame(f_list,columns=['Vehicle_ID','Frame_ID','Local_X','Local_Y','Preceding','Following','Lane_ID','label'])
# f_new.to_csv("/home/mt/learn/NGSIM数据处理/csv/80/变道邻车信息/new_RL_label.csv",index=0)